/* ContactForm.module.css */

.form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #45a049;
  }
  