.footer {
    background-color: #b1cbee;
    color: rgb(20, 16, 16);
    text-align: center;
    bottom: 0;
    left: 0;
    height: 50px;
    position: fixed;
    width: 100%; 
    line-height: 50px;
  }
  
  .footer p {
    margin: 0;
  }